
/*  NOTES OF FONTS

    font-family: 'Raleway', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Josefin Slab', serif;
    font-family: 'Playfair Display SC', serif;
   

 */


body, html {
    height: 100%;
    margin: 0;
}

img.logo {
    height: 75px;
    width: 75px;
    border-radius: 40px;
    margin-right: 10px;
    /* border: 2px solid white; */
    /* margin-left: 40px; */
}

.navbar {
    font-size: 20px;
    border-bottom: 2px solid lightgray;
    background-color: gray;
    padding: 10px;
    font-family: 'Playfair Display SC', serif;
    /* text-align: center; */
}

.navbar-dark .navbar-brand {
    font-size: 45px;
    padding-left: 15px;
}

.navbar-expand-sm .navbar-collapse {
    
    padding-right: 50px;
}

.overlay {
    font-family: 'Playfair Display SC', serif;
    background: rgba(233, 231, 231, 0.5);
    position: absolute;
    bottom: 220px;
    left: 0;
    right: 0;
    width: 95%;
    max-width: 45em;
    margin: auto auto 1em;
    box-sizing: border-box;
    padding: 2em;
    line-height: 1.5;

    text-align: center;
    
}


/* VIDEO  */


.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    top:5px;
    bottom: 0%;
    left: 0%;
    height: 650px;
    width: auto;
    overflow: hidden;

}
/* .video-container video.fillWidth {
    width: 100%;
    
} */

/* Materialize  Modal*/

body
{
	background: #f5f5f5;
}

h5
{
	font-weight: 300px;
}

.container
{
	margin-top: 80px;
	width: 400px;
	height: 500px;
}

.tabs .indicator
{
	background-color: #e0f2f1;
	height: 45px;
    opacity: 0.3;
    width:20px;
   
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
    position: absolute;
    
}


.text {
    font-size: 40px;
}



